  <div class="page-main ">
    <h1>{{meta.title}}</h1>
    <div class="datestamp">{{dateFormat meta.date}}</div>
    <div class="intro">
      {{meta.description}}
    </div>
    <div class="page-body">
    {{{docs.page.body}}}
    </div>
  </div>