.main-nav {
    flex: 0 1 20px;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 8px;
      }
    }
    &.bottom{
        a {
            color: #fff;
        }
    }
  }