$tryit-1-hex: #223F66;
$tryit-2-hex: #2965B3;
$tryit-3-hex: #733831;
$tryit-4-hex: #2B330C;
$tryit-5-hex: #9AB332;


$logo: rgb(34, 63, 102);
$keyline:  rgb(34, 63, 102);
$emph: #080A0D;
$highlight: #2965B3;
$basic: #333;
$bg: #F2F2F2;